body{
	width:100%;
	margin:0auto;
	background-image:url(../images/greybackgroundgradient.jpg);
	background-color:#858383;
	background-repeat:repeat-x;
}

/*tile------------------------------------------*/
h1{
	font-family: 'Eater' , cursive;
	font-size:48px
}

/*headings---------------------------------------*/
h2{
	font-family:'Source Code Pro', sans-serif;
	font-size:36px
}

ul li{
	list-style-type:none;
	display:inline;
}

.section{
	color: #000;
	font-family: 'Underdog', cursive;
	font-size:24px
	float:right;
}

a:link{
	color:#66FFFF
}
a:visited{
	color:#00FF00
}
a:hover{
	color:#333399
}
a:active{
	color:#33FF99
}

ol{
	
	list-style-type:none;
	font-size:24px;

}

