body{
	width:100%;
	margin:0auto;
	background-image:url(../images/greybackgroundgradient.jpg);
	background-color:#858383;
	background-repeat:repeat-x;
}

/*tile------------------------------------------*/
h1{
	font-family: 'Eater' , cursive;
	font-size:48px
}

/*headings---------------------------------------*/
h2{
	font-family:'Source Code Pro', sans-serif;
	font-size:36px
}

h3{
	font-family:'Source Code Pro', sans-serif;
	font-size:36px
}

h4{
	font-family:'Source Code Pro', sans-serif;
	font-size:36px
}

h5{
	font-family:'Source Code Pro', sans-serif;
	font-size:36px
}

h6{
	font-family:'Source Code Pro', sans-serif;
	font-size:30px
}

ul li{
	width:100%;
	margin:0 auto;
	background:#000;
	list-style-type:none;
	padding:0;
	overflow:hidden;
}

ul li{
	width:150px;
	background:#000;
	float:left;
	
}
a{
	text-decoration:none;
	display:block;
	height:36px;
	line-height:36px;
	text-align:center;
	color:fdfafa;
}
p{
	color: #000;
	font-family: 'Underdog', cursive;
	font-size:24px
}

.section{
	color: #000;
	font-family: 'Underdog', cursive;
	font-size:24px
}

strong{
		font-size:32px;
		font-weight:bold;
		text-decoration:underline;
}

em{
	text-decoration:underline;
}

a:link{
	color:#66FFFF
}
a:visited{
	color:#00FF00
}
a:hover{
	color:#333399
}
a:active{
	color:#33FF99
}

ol{
	
	list-style-type:none;
	font-size:24px;

}

.gallery{
	background-color:white;
	border-width:2px;
	border-style:solid;
	border-color:red;
}

div{
	-moz-column-count:3;
	-moz-column-gap:40px;
}

img{
	border:5px solid #000;
}