body{
	width:100%;
	margin: 0 auto;
	background-image:url(../images/greybackgroundgradient.jpg);
	background-color:#858383;
	background-repeat:repeat-x;
	text-align:center;
}

#wrapper{
	width: 100%;
	margin:0 auto;
}


/*tile------------------------------------------*/
h1{
	font-family: 'Eater' , cursive;
	font-size:48px;
}

/*headings---------------------------------------*/
h2{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size:30px;
}

h3{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size:30px;
}

h4{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size:30px;
}

h5{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size:30px;
	
}

h6{
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size:30px;
	float:left;
}

/*-----------------Nav Elements--------------------*/
ul{
	width:90%;
	margin: 0 auto;
	background:#000;
	list-style-type:none;
	padding:0;
	overflow:hidden;
}

 li{
	width:100%;
	background:#000;
	float:left;
	list-style-type:none;	
}

a{
	text-decoration:none;
	background:red;
	display:inline;
	height:36px;
	line-height:46px;
	text-align:left;
	color: #fdfafa;
	clear:both;
}


p{
	width:90%;
	color: #000;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 24px;
	text-align: left;
}

.section{
	color: #000;
	font-family: 'Underdog', cursive;
	font-size:24px;
}

strong{
		font-size:32px;
		font-weight:bold;
		text-decoration:underline;
}

em{
	text-decoration:underline;
}

a:link{
	color:#fdfafa;
}
a:visited{
	color:#00FF00
}
a:hover{
	color:#333399
}
a:active{
	color:#33FF99
}

.article ol{
	width:90%;
	margin:0 auto;
	background:#000;
	list-style-type:none;
	padding:0px;
	overflow:hidden;
	list-style-type:none;
	font-size:24px;
	margin:36px;
}

.gallery{
	width:90%;
	background-color:white;
	border-width:5px;
	border-style:solid;
	border-color:red;
	float:left;
	box-shadow: 10px 10px 5px #888888;
}

div{
	-moz-column-count:3;
	-moz-column-gap:40px;
}

img{
	border:5px solid #000;
	margin:10px;
	padding:2px;
}

.gallerypictures img{
	border:5px solid #000;
	margin:10px;
	padding:2px;
	float: left;
	display: inline;
}

.phrogs img{
	width:90%;
	border:5px solid #000;
	margin:0 auto;
	padding:2px;
	overflow: hidden;
}	
.clear{
	clear:right;
}
 p.section{
 	color: #000;
	font-family: 'Source Code Pro', sans-serif;
	font-size: 24px;
	text-align: left;
}